.centered {
  text-align: center;
}

.header {
  background-color: #666;
  padding: 1px;
  color: white;
  left: 0;
  top: 0;
  width: 100%;
}

.footer {
  background-color: #777;
  padding: 10px;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}

.navigation {
  background-color: #888;
  padding: 10px;
}

p {
  font-size: large;
}

button {
  font-size: large;
  padding: 5px;
  margin: 5px;
}
